body {
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../public/images/kniga-chernyj-i-belyj-solncezashhitnye-ochki-vremya-chasy-lirika.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	text-transform: uppercase;
}

ul,
a {
	list-style: none;
	text-decoration: none;
}

@mixin clearfix {
	&::after {
		content: " ";
		clear: both;
		display: table;
	}
}
